# Tuple1

In [2]:
#Tuples are similar to list however, elements assigned to a tuple cannot change.

In [13]:
#For e.g.
tuple = (1,2,"a",3.9, [1,2,3])
# Note:Creating tuple with paranthesis is a good practise, though, We can also create tuple without paranthesis.

In [14]:
type(tuple)

tuple

In [8]:
tuple

(1, 2, 'a', 3.9, [1, 2, 3])

In [18]:
#Creating a tuple with single element
tuple2 = "Hello",

In [19]:
type(tuple2)

tuple

In [24]:
# Accessing elements in tuple. We can use [] with index init. For e.g.
tuple2[0]

'Hello'

In [26]:
tuple[3]

3.9

In [28]:
tuple[4][1]

2

In [29]:
tuple[3] = 2.8

TypeError: 'tuple' object does not support item assignment

In [30]:
tuple[4][1]= 3

In [31]:
tuple

(1, 2, 'a', 3.9, [1, 3, 3])

In [33]:
tuple[2.0]

TypeError: tuple indices must be integers or slices, not float

In [34]:
#Slicing in tuple is similar to slicing in list.
tuple[0:3]

(1, 2, 'a')

In [36]:
tuple[:-3]

(1, 2)

In [37]:
tuple[:]

(1, 2, 'a', 3.9, [1, 3, 3])

In [38]:
# Deleting a tuple.
del tuple2

In [40]:
tuple2

NameError: name 'tuple2' is not defined