# Tuple1

In [1]:
#Tuples are similar to list however, elements assigned to a tuple cannot change.

In [2]:
#For e.g.
tuple = (1,2,"a",3.9, [1,2,3])
# Note:Creating tuple with paranthesis is a good practise, though, We can also create tuple without paranthesis.

In [3]:
type(tuple)

tuple

In [4]:
tuple

(1, 2, 'a', 3.9, [1, 2, 3])

In [5]:
#Creating a tuple with single element
tuple2 = "Hello",

In [6]:
type(tuple2)

tuple

In [7]:
# Accessing elements in tuple. We can use [] with index init. For e.g.
tuple2[0]

'Hello'

In [8]:
tuple[3]

3.9

In [9]:
tuple[4][1]

2

In [10]:
tuple[3] = 2.8

TypeError: 'tuple' object does not support item assignment

In [ ]:
tuple[4][1]= 3

In [ ]:
tuple

In [ ]:
tuple[2.0]

In [ ]:
#Slicing in tuple is similar to slicing in list.
tuple[0:3]

In [ ]:
tuple[:-3]

In [ ]:
tuple[:]

In [ ]:
# Deleting a tuple.
del tuple2

In [ ]:
tuple2

# Python Tuple Methods

In [ ]:
# There are 2 tuple methods
# count(x)	Return the number of items that is equal to x
# index(x)	Return index of first item that is equal to x

In [12]:
tuple

(1, 2, 'a', 3.9, [1, 2, 3])

In [11]:
# Counts the number of times that elements is in that tuple.
tuple.count(3.9)

1

In [13]:
# Index method prints out index of that element in the tuple. 
tuple.index(3.9)

3

# Tuple Operations

In [ ]:
# Tuple Membership Test

In [ ]:
# We can use 'in' keyword to see if an element is part of the tuple or not

In [14]:
3.9 in tuple

True

In [15]:
4 in tuple

False

In [16]:
# 'not in' keyword can also be used to check membership test.
4 not in tuple

True

In [ ]:
# For loop for iterating through a tuple.

In [17]:
# If we generalize the syntax of this, " for elements in datatype:"
# Python engine will count all the elements in datatype and iterate that many times.
for members in tuple:
    print('Hello', members)

Hello 1
Hello 2
Hello a
Hello 3.9
Hello [1, 2, 3]

In [18]:
for members in tuple:
    print('Hello', tuple)

Hello (1, 2, 'a', 3.9, [1, 2, 3])
Hello (1, 2, 'a', 3.9, [1, 2, 3])
Hello (1, 2, 'a', 3.9, [1, 2, 3])
Hello (1, 2, 'a', 3.9, [1, 2, 3])
Hello (1, 2, 'a', 3.9, [1, 2, 3])

In [20]:
# Built-in Functions with Tuple
# all()	Return True if all elements of the tuple are true (or if the tuple is empty).
# any()	Return True if any element of the tuple is true. If the tuple is empty, return False.
# enumerate()	Return an enumerate object. It contains the index and value of all the items of tuple as pairs.
# len()	Return the length (the number of items) in the tuple.
# max()	Return the largest item in the tuple.
# min()	Return the smallest item in the tuple
# sorted()	Take elements in the tuple and return a new sorted list (does not sort the tuple itself).
# sum()	Retrun the sum of all elements in the tuple.
# tuple()	Convert an iterable (list, string, set, dictionary) to a tuple.

In [22]:
all(tuple)

True

In [23]:
any(tuple)

True

In [24]:
tuple3 = ()

In [25]:
type(tuple3)

tuple

In [26]:
any(tuple3)

False

In [27]:
list(enumerate(tuple))

[(0, 1), (1, 2), (2, 'a'), (3, 3.9), (4, [1, 2, 3])]