# Python Sets

In [1]:
# Set in python are;
# -unordered,
# -unique collection of items,
# -and does not have indexing or slicing.
# It is used to perform mathematical set operations for instance; union, intersection, symmetric, difference etc.

In [2]:
# It is created by using;
# -Curly braces {} and 
My_set = {1,3,6,2,2}
My_set

{1, 2, 3, 6}

In [3]:
# by using Set() function
a = set([1,3,2,5,6])
a

{1, 2, 3, 5, 6}

In [4]:
# Creating an empty set is a bit tricky
a = {}
type(a)

dict

In [5]:
a = set()

In [6]:
type(a)

set

In [7]:
# Set doesn't have indexing or slicing.
My_set[1]

TypeError: 'set' object does not support indexing

In [11]:
# We can use add, update methods to add or update set elements.
My_set.add(4)
My_set

{2, 3, 4, 5, 6, 8, 9, 'a', 'b'}

In [39]:
# Update method can take strings,tuples, lists, strings or other sets as its argument.
My_set.update([3,6,9,5,8],'a','b')
My_set

{3, 4, 5, 6, 8, 9, 'a', 'b'}

In [40]:
# Removing elements from set
My_set.pop()

3

In [41]:
My_set

{4, 5, 6, 8, 9, 'a', 'b'}

In [42]:
# remove method
My_set.remove(3)

KeyError: 3

In [43]:
# discard method
My_set.discard(3)

In [44]:
# clear method
My_set.clear()
My_set

set()

# Python Set Operations

In [47]:
# Union A | B or A.union(B) or B.union(A)
a = {10,9,8,7,6,5}
b = {1,2,3,4,5,6}

In [48]:
c = a | b
c

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [25]:
# Intersection A & B or A.intersection(B) or B.intersection(A)

In [50]:
d = a & b
d

{5, 6}

In [26]:
# Difference A - B or A.difference(B) or B.difference(A)

In [51]:
e = a-b
e

{7, 8, 9, 10}

In [27]:
# Simmetric difference
# Set of elements in both a and b except common elements. A ^ B or A.symmetric_difference(B) or B.symmetric_difference(A)

In [52]:
f = a^b
f

{1, 2, 3, 4, 7, 8, 9, 10}

In [28]:
# List of all set methods
# Method	Description
# add()	Adds an element to the set
# clear()	Removes all elements from the set
# copy()	Returns a copy of the set
# difference()	Returns the difference of two or more sets as a new set
# difference_update()	Removes all elements of another set from this set
# discard()	Removes an element from the set if it is a member. (Do nothing if the element is not in set)
# intersection()	Returns the intersection of two sets as a new set
# intersection_update()	Updates the set with the intersection of itself and another
# isdisjoint()	Returns True if two sets have a null intersection
# issubset()	Returns True if another set contains this set
# issuperset()	Returns True if this set contains another set
# pop()	Removes and returns an arbitary set element. Raise KeyError if the set is empty
# remove()	Removes an element from the set. If the element is not a member, raise a KeyError
# symmetric_difference()	Returns the symmetric difference of two sets as a new set
# symmetric_difference_update()	Updates a set with the symmetric difference of itself and another
# union()	Returns the union of sets in a new set
# update()	Updates the set with the union of itself and others

In [54]:
# Set membership test using "in" and "not in" keywords
6 in a

True

In [57]:
# Iterating through set
for number in a:
    print(number)

5
6
7
8
9
10

In [31]:
# Built-in functions in Set are same as discussed in list and tuple.
# Function	Description
# all()	Return True if all elements of the set are true (or if the set is empty).
# any()	Return True if any element of the set is true. If the set is empty, return False.
# enumerate()	Return an enumerate object. It contains the index and value of all the items of set as a pair.
# len()	Return the length (the number of items) in the set.
# max()	Return the largest item in the set.
# min()	Return the smallest item in the set.
# sorted()	Return a new sorted list from elements in the set(does not sort the set itself).
# sum()	Retrun the sum of all elements in the set.

In [38]:
# Frozen Sets just like tuple are immutable and can be used as keys to dictionary.
A = frozenset([1, 2, 3, 4])
A

frozenset({1, 2, 3, 4})

In [33]:
type(A)

frozenset